---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
import Bento from "../components/Bento.astro";
---

<Layout title="Frutimax Trujillo" description="Comercio de frutas al por mayor, nos ubicamos en la ciudad de trujillo-Peru">
	<main>
		<Banner />
		<About />
		<Bento />
		<Gallery />
		<Services />
	</main>
</Layout>

<style></style>
