<section class=" py-8">
    <div class="container mx-auto pt-4 pb-12">
        <h1
            class="w-full my-2 text-5xl font-bold leading-tight text-center text-yellow-200/80"
        >
            Sobre nosotros
        </h1>
        
        <p class=" text-white/90  mx-auto text-center w-1/2">
            Olvídate de las <strong>Compras ​Matutinas</strong> con ​FRUTIMAX, Calidad, ​Economía
            y ​Conveniencia para tu ​restaurante.
        </p>
        <p class="mx-auto text-white/90 text-center w-1/2">
            En FRUTIMAX, sabemos que <strong>dirigir un ​restaurante</strong> va más allá de la
            cocina. ​Te ofrecemos una solución integral ​en <strong>abastecimiento</strong> para
            que te ​enfoques en hacer crecer tu negocio.
        </p>
    </div>
</section>
<style>
    p {
        font-size: 2rem;
    }
    strong{
        color :#DBC76F;
        cursor: pointer;
    }
    

</style>
