
<footer class="mt-6 rounded-lg shadow m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/Frutimaxlogo.png" class="h-8" alt="Flowbite Logo" />
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Inicio</a>
                </li>
                <li>
                    <a href="#informacion" class="hover:underline me-4 md:me-6">Información</a>
                </li>
                <li>
                    <a href="#galeria" class="hover:underline me-4 md:me-6">Galería</a>
                </li>
                <li>
                    <a href="#beneficios" class="hover:underline">Beneficios</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">Frutimax™</a>. Todos los derechos reservados.</span>
    </div>
</footer>

