<section class="w-full" id="galeria">
    <h2 class=" text-center m-auto text-3xl font-semibold text-balance text-yellow-200/80 mb-8">Galería</h2>
    <div class="m-auto flex px-6 w-auto h-[430px] md:w-[1200px]">
        <img src="/b001.webp" alt="b001">
        <img src="/b002.webp" alt="b002">
        <img src="/b003.webp" alt="b003">
        <img src="/b004.webp" alt="b004">
        <img src="/b001.webp" alt="b001">
    </div>
</section>
<style>
    img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: all 0.8s ease-in-out;

    }
    img:hover{
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
</style>