---
const personalImageAlt = "Frutimax";
---
<section id="beneficios">
    <h1 class="text-center text-[#D4C675] text-[30px] mt-9">Beneficios</h1>
<div
    class="w-auto flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row pt-[50px] px-2"
>
    

    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <h2>CALIDAD GARANTIZADA</h2>
        <p>
            Compromiso con la excelencia en ​cada verdura y fruta,
            ​seleccionados con los <br>más altos ​estándares de calidad.
        </p>
        <h2>SERVICIO PERSONALIZADO</h2>
        <p>
            Planes de suministro adaptados a ​las necesidades y tamaño de tu
            ​restaurante.
        </p>
        <h2>COMPROMISO CON TU ÉXITO</h2>
        <p>
            Nuestro éxito se mide por tu ​satisfacción y el crecimiento de ​tu
            negocio.
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="/b002.webp"
        alt={personalImageAlt}
        class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 hover:scale-110 animation duration-300"
        style="object-position: 50% 50%"
    />
</div>

</section>

<style>
    h2 {
        font-size: larger;
        color: #d4c675;
    }
    p {
        font-size: larger;
    }
</style>
